body {
	font-family: "Trebuchet MS";
	font-size: 62.5%;
}

#tabs{
	font: 'Trebuchet MS';
	/*font-family: Arial, Helvetica, sans-serif;*/
	/*font-size: 12px;*/
}

#tabs ul{
	font: 'Trebuchet MS';
	font-size: 14px;
}